.weather {
  font-family: Arial, sans-serif;
  background-color: #f0f8ff;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
}

.temperature {
  font-size: 2em;
  color: #ff4500;
}

.condition {
  font-size: 1.5em;
  color: #4682b4;
}

.forecast {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
}

.forecast-item {
  background-color: #fff;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
}